:root {
  --footer-height: 7vh;
  --nav-height: 56px;
  --theme-light-bg: white;
  --theme-dark-bg: black;
  --theme-light-fg: black;
  --theme-dark-fg: white;
  --theme-light-color1: royalblue;
  --theme-dark-color1: cyan;
  --theme-light-color2: tomato;
  --theme-dark-color2: #ff6e9d;
}
body {
  margin: 0;
  padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--theme-light-fg);
  background-color: var(--theme-light-bg);
}

body.dark {
  color: var(--theme-dark-fg);
  background-color: var(--theme-dark-bg);
}

h1 {
  font-size: 2rem;
}

.dark h1 {
  color: var(--theme-dark-color1);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--theme-light-color1);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: var(--theme-dark-color1);
}

a {
  color: var(--theme-light-color2);
}

.dark a {
  color: var(--theme-dark-color2);
}

